<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="background-color:#f8f0e6 !important;">
    <form autocomplete="off" class="form-login" [formGroup]="login">
      <h1 style="text-align: left; font-weight: 700; font-size: 1.45rem; display: flex; flex-direction: column; gap: .623rem; margin-bottom: .963rem; color: #000;">
        Login
        <span style="color: #979696; font-size: .753rem; letter-spacing: .5px; font-weight: 400;">Ingrese su usuario y contraseña para poder ingresar (Todos los campos son requeridos).</span>
      </h1>
      <div class="mb-3">
        <ion-input
          type="text"
          label="username"
          color="warning"
          formControlName="username"
          id="username" 
          label-placement="floating"
          fill="outline" 
          placeholder="Enter text"
        ></ion-input>
        @if(this.login.get('username')?.touched && this.login.get('username')?.invalid){
          <span class="text-error">Username is required</span>
        }
      </div>
      <div class="mb-3">
        <ion-input 
          type="password"
          formControlName="password"
          color="warning"
          label="Password" 
          id="password"
          label-placement="floating"
          [errorText]="!this.login.hasError('required') 
          ? 'El campo Password es requerido' 
          : !this.login.hasError('pattern') ? 'El campo Password no tiene un patron valido' : ''"
          fill="outline" 
          placeholder="Enter Password"
          (keyup)="handleKeyEnterService($event)"
        >
          @if(this.login.get('password')?.touched) {
            <ion-input-password-toggle slot="end" color="warning"></ion-input-password-toggle>
          } 
        </ion-input>
      </div>
      <p class="text-help"><!-- #cb1a27 -->
        No tienes cuenta todavía? <a [routerLink]="['/register']" style="color: #ffce31; font-weight: 700;">Registrate</a>
      </p>
      <ion-button [disabled]="this.login.invalid" color="warning" expand="block" size="default" class="btn-default" style="height: 2.9rem;" (click)="onLogin()">Login</ion-button>
      <p class="text-error">{{ this.error() !== "" ? this.error() : '' }}</p>
    </form>
  </div>
</ion-content>
