<div class="flex-content">
  <ion-button size="default" color="warning" class="flex-button" style="width: 10rem; margin-top: 1rem;" [routerLink]="['/compras']">
    <ion-icon name="add-circle" slot="start"></ion-icon>
    <span>Agregar</span>
  </ion-button>
  <form autocomplete="off">
    <ion-select aria-label="Choice Currency" color="success" id="today_currency" placeholder="Filtrar por Moneda" (ionChange)="getCurrency($event)">
      @if (this.moneda().length !== 0) {
        @for (monedas of this.moneda(); track monedas.id_tipo_moneda;) {
          <ion-select-option [value]="monedas.descripcion_moneda.toLowerCase()">
            <span>
              {{ monedas.descripcion_moneda.toLowerCase() }}
            </span>
          </ion-select-option>
        }
      } @else {
        <ion-select-option value="--">
          <span>
            No hay Opciones Disponibles
          </span>
        </ion-select-option>  
      }
  </ion-select>
  </form>
</div>
@if (this.comprasData().length > 0 && this.comprasData().length < 6) {
  <ion-list [inset]="true" style="padding: 0 !important; position: relative;">
    <ion-item>
      <h3 class="ventas-title">Compras</h3>
      <button type="button" class="btn-details" [routerLink]="['/all-solds']">
      <span>View all</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
    </ion-item>
    @for (compras of this.comprasData(); track compras.id_compras;) {
        <ion-item [button]="true" [routerLink]="['/ventas-details/'+compras.id_compras]">
          <ion-label style="display: flex; flex-direction: column; gap: .25rem; padding: .4rem 0; margin-right: 3rem;">
            <p style="margin: 0; padding: 0; font-size: 18px; color: #000;">
              <strong>{{ compras.titulo_producto }}</strong>
            </p>
            <p style="margin: 0; padding: 0;">
              {{ compras.producto_detalle }}
            </p>
          </ion-label>
          <aside class="date">
            <ion-text class="text-subtitle">
              - {{ compras.moneda }}{{ compras.monto_moneda }}
            </ion-text>
            <ion-note color="medium">
              {{ formatVenta(compras.fecha_compra) }}
            </ion-note>
          </aside>
        </ion-item>
      }
  </ion-list>
  <div class="flex-container">
    <span>Total Compras en {{ symbol() }}</span>
    <span>{{ symbol() }}  {{  this.totalCompras.toFixed(2)}}</span>
  </div>
} @else {
  <h2 class="title-compras">No Hay Compras Realizadas</h2>
  
}

