<ion-header [translucent]="true">
  <div class="flex-content">
     <ion-buttons slot="start">
        <ion-back-button text="Go Back" color="warning"></ion-back-button>
      </ion-buttons>
    <ion-toolbar>
      <ion-title>Administador de Usuarios</ion-title>
    </ion-toolbar>
    <ion-button color="warning" size="small" (click)="closeSession()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Admin Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-admin-user-component></app-admin-user-component>

</ion-content>
