<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="register">
    <ion-button color="light" [routerLink]="['/home']">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    
    <h1 style="text-align: left; font-weight: 700; font-size: 1.45rem; display: flex; flex-direction: column; gap: .623rem; margin-bottom: .863rem;">
      Registrarse
      <span style="color: #555; font-size: .753rem; letter-spacing: .5px; font-weight: 400;">Todos los campos del formularios son requeridos.</span>
    </h1>
    <form autocomplete="off" [formGroup]="registerForm" class="form-register">
      <div class="input-item">
        <div>
          <ion-input
          type="text"
          label="Primer Nombre"
          color="danger"
          formControlName="primer_nombre"
          id="primer_nombre" 
          label-placement="floating"
          [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo no es valido' : '' "
          fill="outline" 
          placeholder="Nombre Completo"
          ></ion-input>
        </div>
        <div>
          <ion-input
          type="text"
          label="Segundo Nombre"
          color="danger"
          formControlName="segundo_nombre"
          id="segundo_nombre" 
          label-placement="floating"
          [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo no es valido' : '' "
          fill="outline" 
          placeholder="Segundo Nombre"
          ></ion-input>
        </div>
      </div>
      <div class="input-item">
        <div>
          <ion-input
          type="text"
          label="Primer Apellido"
          color="danger"
          formControlName="primer_apellido"
          id="primer_apellido" 
          label-placement="floating"
          [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo no es valido' : '' "
          fill="outline" 
          placeholder="Primer Apellido"
          ></ion-input>
        </div>
        <div>
          <ion-input
          type="text"
          label="Segundo Apellido"
          color="danger"
          formControlName="segundo_apellido"
          id="segundo_apellido" 
          label-placement="floating"
          [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo no es valido' : '' "
          fill="outline" 
          placeholder="Segundo Apellido"
          ></ion-input>
        </div>
      </div>
      <div class="select-input">
        <ion-select aria-label="Choice your Identification" formControlName="tipo_identidad" id="tipo_identidad" placeholder="V or E">
          <ion-select-option value="V-">V</ion-select-option>
          <ion-select-option value="E-">E</ion-select-option>
        </ion-select>
        <ion-input
        type="text"
        label="Cedula"
        color="danger"
        formControlName="cedula"
        maxlength="8"
        id="cedula" 
        label-placement="floating"
        [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo cedula es requerido o no cumple con un patron valido' : '' "
        fill="outline" 
        placeholder="e.g 12345678"
        ></ion-input>
      </div>
      <div>
        <ion-input
        type="text"
        label="Telefono"
        color="danger"
        formControlName="telefono"
        maxlength="11"
        id="telefono" 
        label-placement="floating"
        [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo telefono es requerido o con cumple con un patron valido' : '' "
        fill="outline" 
        placeholder="e.g 12345788910"
        ></ion-input>
      </div>
      <div class="input-item">
        <ion-input
        type="text"
        label="Dicreccion 1"
        color="danger"
        formControlName="direccion_1"
        id="direccion_1" 
        label-placement="floating"
        [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo direccion 1 no es valido' : '' "
        fill="outline" 
        placeholder="Dirección de Habitación 1"
        ></ion-input>
        <ion-input
        type="text"
        label="Direccion 2"
        color="danger"
        formControlName="direccion_2"
        id="direccion_2" 
        label-placement="floating"
        [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo direccion 2 no es valido' : '' "
        fill="outline" 
        placeholder="Dicreccion de Habitación 2"
        ></ion-input>
      </div>
      <div>
        <ion-input
        type="text"
        label="Codigo Postal"
        color="danger"
        formControlName="codigo_postal"
        id="codigo_postal"
        maxlength="4"
        label-placement="floating"
        [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo codigo postal es requerido o no cumple con un patron valido' : '' "
        fill="outline" 
        placeholder="e.g 0011"
        ></ion-input>
      </div>
      <div class="input-item">
        <div>
            <ion-input
            type="text"
            label="Username"
            color="danger"
            formControlName="username"
            id="username" 
            label-placement="floating"
            [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo usuario es no es valido' : '' "
            fill="outline" 
            placeholder="Nombre de Usuario"
            ></ion-input>
        </div>
        <div>
            <ion-input
            type="password"
            label="Password"
            color="danger"
            formControlName="password"
            id="password" 
            label-placement="floating"
            [errorText]="!this.registerForm.hasError('required') || !this.registerForm.hasError('pattern') ? 'El campo Password no es valido' : ''"
            fill="outline" 
            placeholder="Password"
            ></ion-input>
        </div>
      </div>
      <p class="text-help">
        Ya se encuentra registrado? <a [routerLink]="['/home']">Login</a>
      </p>
      <ion-button [disabled]="this.registerForm.invalid" color="danger" expand="block" size="default" style="width: 100%; font-size: 1.1rem; height: 2.9rem;" (click)="onRegisterUser()">Registrarse</ion-button>
    </form>
  </div>

</ion-content>
