<ion-list>
  @defer (hydrate on viewport) {
    @for (user of users(); track user.cedula;) {
      <ion-item style="position: relative;">
          <div class="items">
            <ion-label style="font-weight: 700;">{{ user.primer_nombre }} {{ user.primer_apellido }}</ion-label>
            <div>
              <span>{{ user.rol }}</span>
              <span>{{ user.tipo_identidad}}{{ user.cedula }}</span>
            </div>
          </div>
          <div class="position-right">
            @if(user.status === 0 && user.id_rol !== 1){
              <ion-button shape="round" color="warning" (click)="updateStatusUser(1, user.id_usuario)">
                <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-button shape="round" color="warning" [routerLink]="['/edit-users-pages/'+user.id_usuario]">
                <ion-icon slot="icon-only" name="person-outline"></ion-icon>
              </ion-button>

            }@else if(user.status === 1 && user.id_rol !== 1){
              <ion-button shape="round" color="warning" [routerLink]="['/edit-users-pages/'+user.id_usuario]">
                <ion-icon slot="icon-only" name="person-outline"></ion-icon>
              </ion-button>
              <ion-button shape="round" color="danger" (click)="updateStatusUser(0, user.id_usuario)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            }
          </div>
      </ion-item>
    }@empty {
      <ion-item>
        <ion-label>No hay Usuarios disponibles</ion-label>
      </ion-item>
    }
  }
</ion-list>