<ion-header [translucent]="false" class="flex-items" id="header">
  <ion-toolbar class="flex-items" style="background-color:#f8f0e6 !important;">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
  <ion-button color="warning" size="small" (click)="closeSession()">
    <ion-icon name="log-out-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-tabs style="background-color:#f8f0e6 !important;">
  <ion-tab tab="graficos">
    <div id="grafic-page" style=" background-color: #f8f0e6;">
      <ion-header>
        <ion-toolbar>
          <ion-title>Graficos</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="container-page">
        <article class="history-balance">
          <h4>Balance Actual</h4>
          <p>$1450.65</p>
        </article>
        <article class="ventas-balance" [routerLink]="['/all-sales']">
          <h4>Total Ventas</h4>
          <p>$740.21</p>
        </article>
        <article class="compras-balance" [routerLink]="['/all-solds']">
          <h4>Total Compras</h4>
          <p>$520.88</p>
        </article>
        <article id="chart">
          <apx-chart
            [series]="this.chartOptions.series"
            [chart]="this.chartOptions.chart"
            [labels]="this.chartOptions.labels"
            [responsive]="this.chartOptions.responsive"
          ></apx-chart>
        </article>
        <div style="margin-bottom: 7rem;"></div>
      </div>
    </div>
  </ion-tab>
  <ion-tab tab="ventas">
    <div id="home-page" style=" background-color: #f8f0e6; overflow: auto; scrollbar-width: none;">
      <ion-header>
        <ion-toolbar>
          <ion-title>Ventas</ion-title>
        </ion-toolbar>
      </ion-header>
      <div style="height: 100vh; background-color: #f8f0e6;">
        <app-ventas></app-ventas>
      </div>
    </div>
  </ion-tab>
  <ion-tab tab="compras">
    <div id="radio-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Compras</ion-title>
        </ion-toolbar>
      </ion-header>
      <div style="height: 100vh; background-color: #f8f0e6;">
        <app-compras></app-compras>
      </div>
    </div>
  </ion-tab>
  <ion-tab-bar slot="bottom">
     <ion-tab-button tab="graficos">
      <ion-icon name="cash-outline"></ion-icon>
      graficos
    </ion-tab-button>
    <ion-tab-button tab="ventas">
      <ion-icon name="cash-outline"></ion-icon>
      ventas
    </ion-tab-button>
    <ion-tab-button tab="compras">
      <ion-icon name="trending-up-outline"></ion-icon>
      Compras
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>