<ion-header [translucent]="true" class="flex-items">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
  <ion-button color="success" size="small" (click)="closeSession()">
    <ion-icon name="log-out-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-tabs>
  <ion-tab tab="ventas">
    <div id="home-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Ventas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="height: 100vh;">
        <app-ventas></app-ventas>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab tab="compras">
    <div id="radio-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Compras</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="height: 100vh;">
        <app-compras></app-compras>
      </ion-content>
    </div>
  </ion-tab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ventas">
      <ion-icon name="cash-outline"></ion-icon>
      ventas
    </ion-tab-button>
    <ion-tab-button tab="compras">
      <ion-icon name="trending-up-outline"></ion-icon>
      Compras
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>