.flex-items{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.example-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.history-balance{
    background-color: #1d1c1c;
    color: #fff;
    text-align: start;
    border-radius: 8px;
    padding: 14px 15px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.54);
}

.history-balance.danger-color{
    background-color: crimson !important;
}

.history-balance.success-color{
    background-color: teal !important; /* #00e396 */
}

.history-balance h4{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    letter-spacing: .5px;
}

.history-balance p{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
}

.ventas-balance,
.compras-balance{
    background-color: #fff;
    color: #333;
    text-align: start;
    border-radius: 8px;
    padding: 14px 15px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.54);
    cursor: pointer;
}

.ventas-balance h4,
.compras-balance h4{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    letter-spacing: .5px;
}

.ventas-balance p,
.compras-balance p{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
}

.container-page{
    height: 100vh; 
    background-color: #f8f0e6;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

#chart{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.54);
}