.flex-items{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.example-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }