.flex-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 0 1rem;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .text-subtitle{
    color: #c5c5c5;
}
 */
.date{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3px;
}

.date .text-subtitle{
    color: teal;
    font-weight: 600;
    font-size: 1rem;
}

.date ion-note{
    font-size: .754rem;
}

.btn-details{
    color: #9b9a9a; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    right: 10px; 
    font-size: 14px;
    background-color: transparent;
    font-weight: 500;
}

.ventas-title{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .5px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.1rem 2rem;
}

.flex-container span{
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.flex-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.flex-content ion-select{
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 2px 1px 5px -1px #3f3e3e;
    text-align: center;
    padding-left: .5rem;
}