<div class="flex-content">
  <ion-button size="default" color="warning" class="flex-button" style="width: 10rem; margin-top: 1rem;" [routerLink]="['/ventas']">
    <ion-icon name="add-circle" slot="start"></ion-icon>
    <span>Agregar</span>
  </ion-button>
  <form autocomplete="off">
    <ion-select aria-label="Choice Method of Pay" color="success" id="today_currency" placeholder="Filtrar por Moneda"  style="width: 10rem; color: #000;" (ionChange)="getCurrency($event)">
      @if (this.moneda().length !== 0) {
        @for (monedas of this.moneda(); track monedas.id_tipo_moneda;) {
          <ion-select-option [value]="monedas.descripcion_moneda.toLowerCase()">
            <span>
              {{ monedas.descripcion_moneda.toLowerCase() }}
            </span>
          </ion-select-option>
        }
      } @else {
        <ion-select-option value="--">
          <span>
            No hay Opciones Disponibles
          </span>
        </ion-select-option>  
      }
  </ion-select>
  </form>
</div>
@if (this.ventas().length > 0) {
  <ion-list [inset]="true" style="padding: 0 !important; position: relative;">
    <ion-item>
      <h3 class="ventas-title">Ventas</h3>
      <button type="button" class="btn-details" [routerLink]="['/all-sales']">
      <span>View all</span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
    </ion-item>
    @for (venta of this.ventas(); track venta.id_venta_detalle;) {
      <ion-item [button]="true" [routerLink]="['/ventas-details/'+venta.id_venta_detalle]">
        <ion-label style="display: flex; flex-direction: column; gap: .25rem; padding: .4rem 0; margin-right: 3rem;">
          <p style="margin: 0; padding: 0; font-size: 18px; color: #000;">
            <strong>{{ venta.titulo_producto }}</strong>
          </p>
          <p style="margin: 0; padding: 0;">
            {{ venta.producto_detalle }}
          </p>
        </ion-label>
        <aside class="date">
          <ion-text class="text-subtitle">
            + {{ venta.moneda }}{{ venta.monto_moneda }}
          </ion-text>
          <ion-note color="medium">
            {{ formatVenta(venta.fecha) }}
          </ion-note>
        </aside>
      </ion-item>
    }
  </ion-list>
} @else {
  <h3>No hay Ventas Disponibles</h3>
}
<div class="flex-container">
  <span>Total Venta en {{titleVenta}} </span>
  <span>{{titleVenta}}{{ this.totalVentas.toFixed(2)}}</span>
</div>