
<form autocomplete="off" action="#">
  <div style="display: flex; flex-direction: start; gap: 20px; position: relative;">
    <div class="content-image">
      <img src="../../../assets/icon/favicon.png" alt="" id="prevImage" width="100" height="100" #previewImage>
    </div>
    <input 
      type="file"
      id="imagesProduct"
      name="imagesProduct"
      style="position: absolute; bottom: 0px; left: 150px;"
      >
  </div>
  <div>
    <ion-input
    type="text"
    label="Detalle Venta"
    color="primary"
    id="venta_detalle" 
    label-placement="floating"
    fill="outline"
    />
  </div>
  <div>
    <ion-textarea
      type="text"
      label="Descripcion Producto"
      color="primary"
      id="producto_detalle"
      label-placement="floating"
      fill="outline"
    ></ion-textarea>
  </div>
  <div>
    <ion-input
      type="text"
      label="Título del Producto"
      color="primary"
      id="titulo_producto"
      label-placement="floating"
      fill="outline"
    />
  </div>
  <div class="input-item">
    <ion-select aria-label="Choice Method of Pay" formControlName="tipo_moneda" id="tipo_moneda" placeholder="Moneda"  style="width: 10%;">
      <ion-select-option value="$">
        <span>
          $
        </span>
      </ion-select-option>
      <ion-select-option value="€">
        <span>
          €
        </span>
      </ion-select-option>
      <ion-select-option value="Bs">
        <span>
          Bs
        </span>
      </ion-select-option>
    </ion-select>
    <ion-input
      type="text"
      label="Precio del Producto"
      color="primary"
      id="monto_moneda"
      label-placement="floating"
      fill="outline"
      style="width: 90%"
    ></ion-input>
  </div>
  <ion-button size="default" color="success" expand="block" style="height: 3rem;">
    <ion-icon name="add-circle"></ion-icon>
    <span>Agregar Producto</span>
  </ion-button>

</form><!-- formControlName="username" -->