
<form autocomplete="off" action="#" style="background-color:#f8f0e6 !important;" [formGroup]="this.formVenta" enctype="multipart/form-data">
  <div style="display: flex; flex-direction: start; justify-content: start; gap: 20px; position: relative;">
    <div class="content-image">
      <img [src]="'../../../assets/user-svgrepo-com.svg'" alt="Avatar" id="prevImage" width="150" height="150" #foto_producto>
    </div>
   <div style="position: relative; width: 12rem;">
    <input 
    type="file"
    id="foto_producto"
    name="foto_producto"
    style="display: none;"
    (change)="changeImagePreview($event)"
    >
    <label for="foto_producto" class="input-file">Agregar Foto</label>
   </div>
  </div>
  <div>
    <ion-input
    type="text"
    color="warning"
    label="Detalle Venta"
    placeholder="e.g Venta de Bebida"
    id="venta_detalle" 
    label-placement="floating"
    fill="outline"
    style="background-color: #fff; color: #000"
    formControlName="venta_detalle"
    [errorText]="this.formVenta.get('venta_detalle')?.invalid && this.formVenta.get('venta_detalle')?.touched ? 'El campo es requerido o inválido' : ''"
    />
  </div>
  <div>
    <ion-textarea
      type="text"
      color="warning"
      label="Descripcion Producto"
      placeholder="e.g Detalles del producto vendido"
      id="producto_detalle"
      label-placement="floating"
      fill="outline"
      style="background-color: #fff; color: #000"
      formControlName="producto_detalle"
      [errorText]="this.formVenta.get('producto_detalle')?.invalid && this.formVenta.get('producto_detalle')?.touched ? 'El campo es requerido o inválido' : ''"
    ></ion-textarea>
  </div>
  <div>
    <ion-input
      type="text"
      color="warning"
      label="Título del Producto"
      placeholder="e.g Doritos"
      id="titulo_producto"
      label-placement="floating"
      fill="outline"
      style="background-color: #fff; color: #000"
      formControlName="titulo_producto"
      [errorText]="this.formVenta.get('titulo_producto')?.invalid && this.formVenta.get('titulo_producto')?.touched ? 'El campo es requerido o inválido' : ''"
    />
  </div>
  <div class="input-item">
    <ion-select aria-label="Choice Method of Pay" color="success" id="tipo_moneda" formControlName="tipo_moneda" placeholder="Moneda"  style="width: 10%; background-color: #fff; color: #000; 
    padding: .3rem; border: 1px solid #000; border-radius: 4px;">
      @if(!this.typeMoney()){
        <ion-select-option value="">
          <span>
            No hay Opciones Disponibles
          </span>
        </ion-select-option>
      } @else {
       @for(typeMoney of this.typeMoney(); track typeMoney.id_tipo_moneda) {
        <ion-select-option [value]="typeMoney.id_tipo_moneda">
          <span>
            {{ typeMoney.moneda }}
          </span>
        </ion-select-option>
        }
      }
    </ion-select>
    <ion-input
      type="text"
      color="warning"
      label="Precio del Producto"
      id="monto_moneda"
      label-placement="floating"
      fill="outline"
      style="width: 90%; background-color: #fff; color: #000"
      formControlName="monto_moneda"
      [errorText]="this.formVenta.get('monto_moneda')?.invalid && this.formVenta.get('monto_moneda')?.touched ? 'El campo es requerido o inválido' : ''"
    ></ion-input>
  </div>
  <ion-item class="input-item">
    <ion-select interface="modal" placeholder="Select Item" aria-label="Inventory" id="id_inventario" interface="modal" aria-label="Select Inventory" formControlName="id_inventario">
     @for(inventario of this.inventario(); track inventario.id_inventario;) {
        <ion-select-option [value]="inventario.id_inventario" style="color: #eee; font-weight: bold;" class="flex-content">
         <div style="font-size: 22px !important; font-weight: 700 !important;">
            {{ inventario.producto_inventario }}  
             <strong>Cantidad: {{  inventario.cantidad_inventario }}</strong>
          </div>
        </ion-select-option>
      }
    </ion-select>
  </ion-item>
  <div class="input-item">
    <ion-input 
      type="number"
      color="warning"
      label="Cantidad Inventario"
      id="cantidad_inventario"
      label-placement="floating"
      fill="outline"
      style="width: 100%; background-color: #fff; color: #000"
      formControlName="cantidad_inventario"
      [errorText]="this.formVenta.get('cantidad_inventario')?.invalid && this.formVenta.get('cantidad_inventario')?.touched ? 'El campo es requerido o inválido' : ''"
    ></ion-input>
  </div>
  <ion-button size="default" [disabled]="this.formVenta.invalid" color="warning" expand="block" style="height: 3rem;" (click)="onSubmit()">
    <ion-icon name="cash-outline"></ion-icon> 
    <span style="margin-left: 1rem;">Vender Producto</span>
  </ion-button>

</form><!-- formControlName="username" -->