.details-sales{
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    padding: 1rem;
}

.details-sales h2{
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.details-sales .details-product{
    font-size: 1.2rem;
    font-weight: 300;
}

.details-sales .sales{
    font-size: 1.1rem;
    font-weight: 300;
}

.details-sales .date-create{
    font-weight: bold;
}