<ion-list [inset]="true" style="padding: 0 !important; position: relative; width: 100%; margin-left: 0;" >
    @for (compra of this.compras(); track compra.id_compras;) {
    <ion-item [button]="true" [routerLink]="['/compras-details/'+compra.id_compras]">
      <ion-label style="display: flex; flex-direction: column; gap: .25rem; padding: .4rem 0; margin-right: 3rem;">
        <p style="margin: 0; padding: 0; font-size: 18px; color: #000;">
          <strong>{{ compra.titulo_producto }}</strong>
        </p>
        <p style="margin: 0; padding: 0;">
          {{ compra.producto_detalle }}
        </p>
      </ion-label>
      <aside class="date">
        <ion-text class="text-subtitle">
          - {{ compra.moneda }}{{ compra.monto_moneda }}
        </ion-text>
        <ion-note color="medium">
          {{ formatVenta(compra.fecha) }}
        </ion-note>
      </aside>
    </ion-item>
  }
</ion-list>