<ion-list [inset]="true" style="padding: 0 !important; position: relative; width: 100%; margin-left: 0;" >
    @for (venta of this.ventas(); track venta.id_venta_detalle;) {
    <ion-item [button]="true" [routerLink]="['/ventas-details/'+venta.id_venta_detalle]">
      <ion-label style="display: flex; flex-direction: column; gap: .25rem; padding: .4rem 0; margin-right: 3rem;">
        <p style="margin: 0; padding: 0; font-size: 18px; color: #000;">
          <strong>{{ venta.titulo_producto }}</strong>
        </p>
        <p style="margin: 0; padding: 0;">
          {{ venta.producto_detalle }}
        </p>
      </ion-label>
      <aside class="date">
        <ion-text class="text-subtitle">
          + {{ venta.moneda }}{{ venta.monto_moneda }}
        </ion-text>
        <ion-note color="medium">
          {{ formatVenta(venta.fecha) }}
        </ion-note>
      </aside>
    </ion-item>
  }
</ion-list>