.flex-buttons{
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    padding: 0 .8rem; 
    margin-bottom: .8rem;
}

.circle{
    background-color: #eee;
    width: 4rem;
    height: 4rem;
    padding: .4rem;
    border-radius: 50%;
    margin: 0 auto;
}

.details-sales{
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
}

.details-sales h2{
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.details-sales .details-product{
    font-size: 1.2rem;
    font-weight: 300;
}

.details-sales .sales{
    font-size: 1.1rem;
    font-weight: 300;
}

.details-sales .date-create{
    font-weight: bold;
}

.text-info{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1.1px;
}